<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent">
	<LinearLayout
		android:orientation="vertical"
		android:minWidth="25px"
		android:minHeight="25px"
		android:layout_width="fill_parent"
		android:layout_height="fill_parent"
		android:id="@+id/linearLayout1">
		<LinearLayout
			android:orientation="vertical"
			android:minWidth="25px"
			android:minHeight="25px"
			android:layout_width="match_parent"
			android:layout_height="wrap_content"
			android:id="@+id/linearLayout2">
			<ProgressBar
				android:layout_width="match_parent"
				android:layout_height="100px"
				android:progressBackgroundTint="@android:color/holo_purple"
				android:indeterminate="true"
				android:indeterminateTintMode="src_atop"
				android:indeterminateTint="@android:color/holo_blue_light"
				android:id="@+id/downloadProgressBar"
				style="@android:style/Widget.Holo.ProgressBar.Horizontal"
				android:min="0"
				android:progress="0"
				android:max="100"
				android:scaleY="3"/>
			<TextView
				android:text=""
				android:textAppearance="?android:attr/textAppearanceLarge"
				android:layout_width="match_parent"
				android:layout_height="wrap_content"
				android:textColor="@android:color/white"
				android:id="@+id/progressTextView" />
			<EditText
				android:layout_width="match_parent"
				android:layout_height="wrap_content"
				android:textColor="@android:color/white"
				android:id="@+id/downloadByUrlEditText"
				android:hint="url"
				android:background="#ff263238" />
			<EditText
				android:layout_width="match_parent"
				android:layout_height="wrap_content"
				android:textColor="@android:color/white"
				android:id="@+id/downloadByUrlFileNameEditText"
				android:text="TEST45678.mp4"
				android:hint="filename" />
			<LinearLayout
				android:orientation="horizontal"
				android:minWidth="25px"
				android:minHeight="25px"
				android:layout_width="match_parent"
				android:layout_height="wrap_content"
				android:id="@+id/linearLayout3">
				<Button
					android:text="Video Files"
					android:layout_width="wrap_content"
					android:layout_height="match_parent"
					android:id="@+id/getVideoFileDownloadButton" />
				<Button
					android:text="Download"
					android:layout_width="wrap_content"
					android:layout_height="match_parent"
					android:id="@+id/downloadButton" />
				<CheckBox
					android:text="AutoTitle"
					android:layout_width="wrap_content"
					android:checked="true"
					android:layout_height="match_parent"
					android:textColor="@android:color/white"
					android:id="@+id/autoFillTitleCheckBox" />
				<Button
					android:text="stop"
					android:layout_width="wrap_content"
					android:layout_height="match_parent"
					android:id="@+id/cancelDownloadButton"/>
			</LinearLayout>
		</LinearLayout>
		<android.support.v7.widget.RecyclerView
			android:minWidth="25px"
			android:minHeight="25px"
			android:layout_width="match_parent"
			android:layout_height="wrap_content"
			android:id="@+id/fileRecyclerView" />
	</LinearLayout>
</LinearLayout>
